<div ng-controller="Shell as vm">

    <!-- 顶部导航 -->
    <header class="clearfix">
        <div ng-include="'app/layout/topnav.html'"></div>
    </header>

    <article id="content" class="content">

        <!-- 左侧导航 -->
        <nav class="nav-left" ng-include="'app/layout/sidebar.html'"></nav>

        <!-- 内容区 -->
        <section ng-view class="main-content"></section>

        <!-- loading 效果 -->
        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             >
            <img src="/images/busy.gif"/>
            <div class="page-spinner-message overlay-message">{{ vm.busyMessage }}</div>
        </div>

    </article>

</div>