<div ng-controller="Shell as vm">

    <!-- 顶部导航 -->
    <header class="clearfix">
        <div ng-include="'app/layout/topnav.html'"></div>
    </header>

    <article id="content" class="content">

        <!-- 左侧导航 -->
        <nav class="nav-left" ng-include="'app/layout/sidebar.html'"></nav>

        <!-- 内容区 ng-view -->
        <section ng-view class="main-content"></section>

    </article>


    <!-- update the browser (IE<10) -->
    <section ng-include="'app/layout/browsehappy.html'"></section>

	<!-- splash-page : 启动页遮罩效果 -->
	<section ng-include="'app/layout/splash.html'"></section>

    <!-- loading 效果 -->
	<section ng-include="'app/layout/ngplus.html'"></section>

</div>