<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>camera</title>
</head>
<body>
    <h1>camera:</h1>
    <!-- source:http://stackoverflow.com/questions/8581081/how-to-access-a-mobiles-camera-from-a-web-app -->
    <!-- demo01:摄像头＋截图 http://davidwalsh.name/browser-camera -->
    <input type="file" accept="images/*" capture="camera" /> 
    <br/>
</body>
</html>