/*! 名称：CSS Reset
    用途：基础类
======================================== */
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, del, form, th, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
del { text-decoration: none; }
em, i { font-style: normal; }
ul, ol, li { list-style: none; }
img { border: none; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; font-size: 0; height: 0; line-height: 0; overflow: hidden; }
.clearfix:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.clearfix { zoom: 1; }
/*! 名称：Base
    用途：基础类
======================================== */
body { color: #404040; font: 12px/18px "\5b8b\4f53", Arial; }
a { text-decoration: none; color: #1a66b3; }
a:hover { text-decoration: underline }
.occur-wrap { margin: 0 auto; width: 980px; color: #404040; font: 12px/18px "\5b8b\4f53", Arial; position: relative; } /* 微软雅黑 —— font-family:"\5FAE\8F6F\96C5\9ED1"; */
.hidden { display: none; }
.w190 { width: 190px; }
.mr-5 { margin-right: 5px; }
.c-greyL { color: #999; }
.txC { text-align: center; }
.txR { text-align: right; }
.vaM { display: inline-block; vertical-align: middle; }
.ovE { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.pull-l { float: left; }
.pull-r { float: right; }
.box-space { height: 10px; line-height: 10px; padding: 0; margin: 0; }
.bg-repeat-nav { background: url(../images/bg-repeat-nav.png) repeat 0 0; }
/*  === Icons ===  */
.icon { display: inline-block; line-height: 18px; vertical-align: middle; background-image: url("../images/bg_icons.png"); background-position: 0px 0px; background-repeat: no-repeat; cursor: pointer; }
.icon-close { width: 10px; height: 10px; background-position: -47px -258px; }
.icon-heart { width: 12px; height: 12px; background-position: -26px -286px; }
.icon-oNum { width: 18px; height: 18px; background-position: 0px -258px; }
.icon-discuss { width: 14px; height: 13px; background-position: -70px -286px; }
.icon-add-armoire { width: 12px; height: 13px; background-position: -48px -286px; }
.icon-phone { width: 18px; height: 17px; background-position: -61px -231px; }
.icon-email { width: 18px; height: 17px; background-position: -0px -231px; }
.icon-adress { width: 18px; height: 17px; background-position: -28px -231px; }
.icon-viewList { width: 26px; height: 20px; background-position: 0px -201px; }
.icon-viewPic { width: 26px; height: 20px; background-position: -104px -201px; }
.icon-filter-open { width: 11px; height: 10px; background-position: -30px -329px; }
.icon-filter-close { width: 11px; height: 10px; background-position: -51px -329px; }
.icon-search-grey { width: 18px; height: 18px; background-position: -93px -258px; }
.icon-sdot { width: 10px; height: 10px; background-position: 0 -309px; }
.icon-sdot:hover { background-position: -20px -309px; }
.icon-sbtn-prev { width: 40px; height: 66px; background-position: 0 -72px; }
.icon-sbtn-next { width: 40px; height: 66px; background-position: -50px -72px; }
.icon-h4-decorate { width: 17px; height: 62px; background-position: -213px 0px; }
.icon-p-decorate { width: 28px; height: 10px; background-position: -72px -329px; }
.icon-share { display: inline-block; line-height: 18px; w vertical-align: middle;
background-image: url("../images/bg_icons_share.png"); background-position: 0px 0px; background-repeat: no-repeat; cursor: pointer; }
.icon-share-sina, .icon-share-tencent, .icon-share-sohu, .icon-share-renren, .icon-share-qzone { width: 18px; height: 18px; }
.icon-share-sina { background-position: 0 -28px; }
.icon-share-sina:hover { background-position: 0 0; }
.icon-share-tencent { background-position: -22px -28px; }
.icon-share-tencent:hover { background-position: -22px 0; }
.icon-share-sohu { background-position: -44px -28px; }
.icon-share-sohu:hover { background-position: -44px 0; }
.icon-share-renren { background-position: -66px -28px; }
.icon-share-renren:hover { background-position: -66px 0; }
.icon-share-qzone { background-position: -88px -28px; }
.icon-share-qzone:hover { background-position: -88px 0; }
/* === Btns === */
.btn { display: inline-block; height: 21px; font: normal 12px/20px '\5FAE\8F6F\96C5\9ED1', '5b8b\4f53'; text-align: center; vertical-align: middle; text-decoration: none; color: #333; background-color: #e6e6e6; padding: 4px 12px; cursor: pointer; }
.btn:hover { text-decoration: none; background-color: #d9d9d9; }
button.btn { height: 29px; font: normal 12px/24px '\5FAE\8F6F\96C5\9ED1', '5b8b\4f53'; border: 0; padding: 0 12px; }
.btn-mini { font-size: 10.5px; padding: 0 6px; }
.btn-small { padding: 2px 28px 3px; }
.btn-default { padding: 4px 12px; }
.btn-large { font-size: 14px; font-weight: bold; padding: 11px 19px; }
.btn-yellow { color: #fff; background-color: #e7aa1c; }
.btn-yellow:hover { color: #fff; background-color: #f6c249; }
.btn-blue { color: #fff; background-color: #0099ff; }
.btn-blue:hover { color: #fff; background-color: #49b6ff; }
.btn-cyan { color: #fff; background-color: #00CCAC; }
.btn-cyan:hover { color: #fff; background-color: #00CCAC; }
.btn-register { color: #dfa41b; background-color: #e6e6e6; }
.btn-register:hover { color: #dfa41b; background-color: #e6e6e6; }
.sbtn { display: inline-block; vertical-align: middle; background: url(../images/bg_sbtns.png) no-repeat 0 0; }
.sbtn-buy { width: 111px; height: 43px; background-position: -121px 0; }
.sbtn-like { width: 111px; height: 43px; background-position: 0 -53px; }
/*  表单  */
input { color: #404040; }
input::-moz-placeholder, textarea::-moz-placeholder {
color:#999;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color:#999;
}
.select { display: inline-block; height: 24px; vertical-align: middle; font-size: 12px; color: #404040; padding: 3px 2px 3px; *height:auto;
}
/*! 名称：Common
    用途：公共类
======================================== */
/* === 页头：公益频道 === */
#channelNav { margin: 0px auto; height: 22px; font-size: 12px; background: #F4F4F4; text-align: left; width: 980px; color: #000 }
#channelNav .left { float: left; }
#channelNav .right { float: right; }
#channelNav ul { clear: none; padding-right: 6px; margin-right: 5px; width: auto; }
#channelNav li { list-style: none; float: left; padding: 0 2px 0 0; margin: 5px auto 0 auto; line-height: 14px; }
#channelNav .end { padding-right: 0 }
#channelNav .red a { color: #f00 }
#channelNav a { color: #000 }
#header { margin-top: 40px; }
#header .search { width: 980px; margin: 0 auto; }
#header .search-box, #header .search-btn { display: inline-block; vertical-align: middle; }
#header .search-box { position: relative; z-index: 9; }
#header .search-box input { width: 270px; height: 18px; font: normal 12px/18px "\5FAE\8F6F\96C5\9ED1", Arial; color: #404040; background-color: #fff; border: 1px solid #C4C4C4; padding: 3px 25px 3px 5px; }
#header .search-box .search-btn { position: absolute; right: 6px; top: 3px; display: block; width: 20px; height: 20px; background-color: #fff; border: 0; padding: 0; margin: 0; }
#header .search-btnBar .btn { font-size: 14px; margin-left: 10px; }
.navMain { position: relative; height: 24px; font: normal 14px/18px "\5FAE\8F6F\96C5\9ED1"; background: #000 url(../images/bg-repeat-nav.png) repeat 0 0; padding: 3px 0 3px; margin-top: 15px; z-index: 10; }
.navMain-in { width: 980px; margin: 0 auto; }
.navMain-in>ul>li { position: relative; float: left; z-index: 9; }
.navMain-in>ul>li>a { position: relative; display: inline-block; height: 24px; line-height: 22px; text-align: center; text-decoration: none; color: #fff; font-weight: bold; padding: 0 25px 0 25px; z-index: 9; }
.navMain-in>ul>li>a:hover, .navMain-in>ul>li>a.active { color: #dfa41b; text-decoration: none; background-color: #fafafa; padding-right: 24px; margin-right: 1px; }
.navMain-in>ul>li>.line-h { position: absolute; right: 0; top: 4px; display: inline-block; height: 18px; border-right: 1px dotted #fff; }
.navMain-in>ul>li>.sub-ul { position: absolute; left: 0; top: 24px; background-color: #fafafa; border: 1px solid #E0E0E0; border-top: 0; padding: 0 20px 20px; min-width: 260px; }
.navMain-in>ul>li>.sub-ul>li { border-bottom: 1px dashed #c4c4c4; padding: 15px 0; }
.navMain-in>ul>li>.sub-ul>li>a { color: #444; }
.navMain-in>ul>li>.sub-ul>li>a:hover { text-decoration: none; }
.navMain-in>ul>li>.sub-ul>li>a .text-zh { font-weight: bold; margin-right: 40px; }
/*  === 轮转 slide ===  */
.slide { position: relative; overflow: hidden; background: url(../images/bg_slide_loading.png) repeat 0 0; z-index: 9; }
.slide .slide-cont li { vertical-align: middle; }
.slide .slide-cont li a { display: block; overflow: hidden; }
.slide .slide-pages { position: absolute; z-index: 99; }
.slide .slide-pages a { display: inline-block; width: 16px; height: 20px; text-align: center; margin: 0 5px; cursor: pointer; }
.slide .slide-pages a:hover .icon-sdot, .slide .slide-pages a.active .icon-sdot { background-position: -20px -309px; }
.slide .slide-btns { display: none; }
.slide .slide-btns a { position: absolute; top: 50%; z-index: 99; }
.slide .slide-btns .sbtn-prev { left: 0 }
.slide .slide-btns .sbtn-next { right: 0; }
/*  reset slide-main  */
.slide-main { width: 980px; height: 400px; overflow: hidden; margin-top: 15px; }
.slide-main .slide-cont li a { width: 980px; height: 400px; }
.slide-main .slide-pages { left: 0; bottom: 10px; width: 980px; }
.slide-main .slide-btns a { margin-top: -40px; }
/*  reset slide-spotlight  */
.slide-spotlight { width: 640px; height: 280px; overflow: hidden; margin-top: 15px; }
.slide-spotlight .slide-cont li a { width: 640px; height: 280px; }
.slide-spotlight .slide-pages { left: 0; bottom: 10px; width: 640px; }
.slide-spotlight .slide-btns a { margin-top: -15px; }
.slide-spotlight .icon-sbtn-prev { width: 30px; height: 30px; background-position: -100px -72px; }
.slide-spotlight .icon-sbtn-next { width: 30px; height: 30px; background-position: -100px -108px; }
/*  reset slide-celeb  */
.slide-celeb { width: 300px; height: 280px; overflow: hidden; margin-top: 15px; }
.slide-celeb .slide-cont li a { width: 300px; height: 280px; }
.slide-celeb .slide-pages { right: 5px; top: 10px; width: 295px; }
.slide-celeb .slide-pages a { display: inline-block; height: 18px; font: normal 12x/16px Arial, "\5FAE\8F6F\96C5\9ED1"; color: #fff; background-color: #444; padding: 0 1px; }
.slide-celeb .slide-pages a:hover, .slide-celeb .slide-pages a.active { text-decoration: none; background-color: #DFA41B; }
.slide-celeb .slide-btns a { margin-top: -15px; }
.slide-celeb .icon-sbtn-prev { width: 30px; height: 30px; background-position: -100px -72px; }
.slide-celeb .icon-sbtn-next { width: 30px; height: 30px; background-position: -100px -108px; }
/*  reset slide-features  */
.slide-features { background: none; }
.slide-features .slide-cont ul { zoom: 1; }
.slide-features .slide-cont ul:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.slide-features .slide-cont { width: 910px; height: 123px; overflow: hidden; margin: 0 auto; }
.slide-features .slide-cont ul { width: 980px; }
.slide-features .slide-cont li { float: left; width: 150px; margin-right: 40px; }
.slide-features .slide-cont li .pic { width: 150px; height: 100px; overflow: hidden; }
.slide-features .slide-cont li .text { margin-top: 5px; }
.slide-features .slide-cont li .text a { display: block; width: 150px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #404040; }
.slide-features .slide-btns { display: block; }
.slide-features .slide-btns a { margin-top: -15px; }
.slide-features .slide-btns a .icon-sbtn-prev { width: 30px; height: 30px; background-position: -142px -72px; }
.slide-features .slide-btns a:hover .icon-sbtn-prev { background-position: -142px -108px; }
.slide-features .slide-btns a .icon-sbtn-next { width: 30px; height: 30px; background-position: -182px -72px; }
.slide-features .slide-btns a:hover .icon-sbtn-next { background-position: -182px -108px; }
.slide-features .slide-btns .sbtn-prev { left: -5px; }
.slide-features .slide-btns .sbtn-next { right: -5px; }
/*  reset slide-editor-show  */
.slide-editor-show { width: 236px; height: 363px; overflow: hidden; margin-top: 0px; }
.slide-editor-show .slide-cont li a { width: 236px; height: 363px; }
.slide-editor-show .slide-pages { left: 0; bottom: 10px; width: 640px; }
.slide-editor-show .slide-btns a { margin-top: -15px; }
.slide-editor-show .icon-sbtn-prev { width: 30px; height: 30px; background-position: -100px -72px; }
.slide-editor-show .icon-sbtn-next { width: 30px; height: 30px; background-position: -100px -108px; }
/*  === 标题 m-title-xx ===  */
.m-title-idx { position: relative; height: 20px; line-height: 20px; background: #000 url(../images/bg-repeat-nav.png) repeat 0 0; padding: 2px 0px; margin-bottom: 15px; z-index: 9; }
.m-title-idx h3 { font: bold 14px/20px "\5FAE\8F6F\96C5\9ED1"; color: #fff; margin-left: 10px; }
.m-title-idx h3 .m-title-idx-more { position: absolute; right: 10px; top: 1px; color: #fff; z-index: 99; }
.m-title-side { height: 24px; line-height: 22px; background: #383838 url(../images/bg-repeat-sbar.png) repeat 0 0; padding: 5px 0px 7px; }
.m-title-side h3 { font: normal 18px/22px "\5FAE\8F6F\96C5\9ED1"; color: #ccc; text-align: center; }
.m-title-side h3 .span-symbol { font-size: 12px; margin-right: 3px; }
.m-title-detail { position: relative; height: 30px; line-height: 30px; padding: 3px 0px; z-index: 9; }
.m-title-detail h3 { position: relative; display: inline-block; font: normal 24px/30px "\5FAE\8F6F\96C5\9ED1"; color: #666; background-color: #fff; border-bottom: 1px solid #eee; padding: 0 25px 5px 0; z-index: 9; *float:left;
}
.m-title-detail .m-title-detail-decorate { position: absolute; right: 0; bottom: -1px; display: inline-block; width: 20px; height: 26px; background: url(../images/bg_icons.png) no-repeat 0 -329px; }
.m-title-detail .m-title-detail-more { position: absolute; right: 0; top: 11px; color: #666; z-index: 99; }
.m-title-detail .m-title-detail-bd2 { position: absolute; left: 0; top: 13px; width: 100%; height: 25px; border: 1px solid #eee; border-width: 1px 0 0; }
/*  === 面包屑 ===  */
.m-crumbs { margin: 10px 0; }
.crumbs { font: normal 12px/18px "\5b8b\4f53"; color: #404040; }
.crumbs a { color: #404040; }
/*  === 分页 ===  */
.m-pagination { height: 26px; font: normal 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 20px 0; }
.m-pagination ul { display: inline-block; *display:inline;
zoom: 1; }
.m-pagination ul:after { display: block; content: " "; clear: both; height: 0; font-size: 0; visibility: hidden; }
.m-pagination li { display: inline; }
.m-pagination li a, .m-pagination li span.dot { float: left; display: inline-block; height: 20px; line-height: 20px; font: normal 12px/20px sans-serif, "Helvetica Neue", Helvetica, Arial; font-weight: bold; text-decoration: none; color: #666; background: #D9D9D9; border: 1px solid #CECECE; padding: 2px 9px; margin-right: 10px; text-shadow: 0px 1px 0px #fff; -moz-text-shadow: 0px 1px 0px #fff; -webkit-text-shadow: 0px 1px 0px #fff; }
.m-pagination li a:hover, .m-pagination li a.active { color: #fff; text-decoration: none; background: #997d37; border-color: #997d37; text-shadow: none; -moz-text-shadow: none; -webkit-text-shadow: none; }
.m-pagination li span.dot { font-size: 14px; background: transparent; border: 0; padding: 3px 0px; }
.m-pagination-center { text-align: center; }
/*  === 单品模块 ===  */
.products { }
.products a { color: #404040; }
.products .pic { border: 1px solid #ccc; }
.products .pic img { display: block; }
.products .text p { line-height: 1.8; margin-top: 5px; }
.products .text .tag { color: #999; }
.products .text .info .price strong { font-size: 14px; }
.products .text .info .btn-bar { color: #666; }
.products .text .info .btn-bar a { color: #666; }
.products .text .info .btn-bar .span-item { display: inline-block; vertical-align: middle; margin-right: 8px; }
.products .text .info .btn-bar .span-item .icon { margin-left: 2px; }
.products .text .info .btn-bar .span-item:last-child { margin-right: 0; }
/*  缩略图模式  */
.prd-thumb { margin-bottom: -20px; *margin-bottom: 0px;
}
.prd-thumb ul { zoom: 1; }
.prd-thumb ul:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.prd-thumb .text .tag, .prd-thumb .text .intro, .prd-thumb .text .span-item-ckxq { display: none; }
.prd-thumb .text { margin-top: 10px; }
.prd-thumb .ul-wrap { width: 650px; overflow: hidden; }
.prd-thumb ul { width: 675px; }
.prd-thumb li { float: left; width: 202px; margin: 20px 21px 20px 0; }
.prd-thumb li .pic { width: 200px; height: 200px; overflow: hidden; }
.prd-thumb .text .info .btn-bar .span-item { margin-right: 5px; }
.prd-thumb .text .info .btn-bar .span-item-ckxq { display: none; }
/*  列表模式  */
.prd-list .m-prdItem, .prd-list .m-prdItem .info { zoom: 1; }
.prd-list .m-prdItem:after, .prd-list .m-prdItem .info:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.prd-list { margin-bottom: 10px; }
.prd-list li { margin: 20px 0; }
.prd-list .m-prdItem .pic { float: left; width: 150px; height: 150px; overflow: hidden; }
.prd-list .m-prdItem .pic img { width: 150px; }
.prd-list .m-prdItem .text { float: right; width: 480px; }
.prd-list .m-prdItem .text h4 { font-weight: bold; }
.prd-list .m-prdItem .text p { margin-top: 10px; }
.prd-list .m-prdItem .text .info { background-color: #F3F3F3; border: 1px solid #ccc; border-width: 1px 0; padding: 4px 10px; margin-top: 13px; }
.prd-list .m-prdItem .text .info p { margin-top: 0; }
.prd-list .m-prdItem .text .info .price { float: left; }
.prd-list .m-prdItem .text .info .btn-bar { float: right; }
/*  精简样式  */
.prd-simple ul { zoom: 1; }
.prd-simple ul:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.prd-simple .text { margin-top: 10px; }
.prd-simple .text h4 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.prd-simple .ul-wrap { width: 650px; overflow: hidden; }
.prd-simple ul { width: 668px; }
.prd-simple li { float: left; width: 149px; margin: 0px 18px 20px 0; }
.prd-simple li .pic { border: none; }
.prd-simple li .pic a { display: block; width: 147px; height: 147px; overflow: hidden; border: 1px solid #fff; }
.prd-simple li .pic a:hover { border-color: #ccc; }
.prd-simple li .pic a img { display: block; width: 147px; }
/*  详情页侧边栏 - 单品竖  */
.m-sbar-prdH li { zoom: 1; }
.m-sbar-prdH li:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.m-sbar-prdH { width: 310px; background-color: #000; padding: 10px 0 25px; }
.m-sbar-prdH ul { margin: 0px 20px 0; }
.m-sbar-prdH li { position: relative; vertical-align: middle; border-bottom: 1px dotted #fff; padding: 20px 0 10px 30px; z-index: 9; }
.m-sbar-prdH li .pic { display: none; }
.m-sbar-prdH li .text { line-height: 1.8; color: #666; }
.m-sbar-prdH li .text h4 { margin: -6px 0 5px; }
.m-sbar-prdH li .text a { color: #666; }
.m-sbar-prdH li .text .c-greyL { margin-right: 2px; }
.m-sbar-prdH li .icon-oNum { position: absolute; left: 0; top: 20px; text-align: center; color: #fff; z-index: 99; }
/*  reset  */
.m-sbar-prdH .li-hover { padding-left: 25px; }
.m-sbar-prdH .li-hover .pic { float: left; display: block; width: 86px; height: 86px; overflow: hidden; border: 1px solid #5e5e5e; }
.m-sbar-prdH .li-hover .text { float: right; display: block; width: 150px; color: #666; }
/*  详情页侧边栏 - 设计师列表  */
.m-sbar-prdH-designer li { padding-left: 30px; }
.m-sbar-prdH-designer li .pic { float: left; display: block; width: 86px; height: 86px; overflow: hidden; border: 1px solid #5e5e5e; }
.m-sbar-prdH-designer li .text { float: right; display: block; width: 140px; color: #999; }
.m-sbar-prdH-designer li .text h4 { margin: -4px 0 5px; }
.m-sbar-prdH-designer li .text a { color: #999; }
/*  详情页侧边栏 - 单品横  */
.m-sbar-prdV { width: 310px; background-color: #000; padding: 30px 0 10px; }
.m-sbar-prdV a { color: #666; }
.m-sbar-prdV .ul-wrap { width: 250px; overflow: hidden; margin: 0 auto; }
.m-sbar-prdV ul { width: 280px; }
.m-sbar-prdV li { float: left; width: 110px; margin: 0 30px 20px 0; }
.m-sbar-prdV li .pic { width: 108px; height: 108px; overflow: hidden; border: 1px solid #5e5e5e; }
.m-sbar-prdV li .text { margin-top: 5px; }
/*  === 侧边栏 ===  */
.sidebar { float: right; width: 310px; color: #666; background-color: #000; margin-top: 2px; }
.sidebar a { font: normal 12px/18px "\5b8b\4f53"; color: #666; }
/*  关键词推荐  */
.sbar-keywords .kw-cont .key-large { font-size: 18px; }
.sbar-keywords .kw-cont .key-orange { color: #f60; }
.sbar-keywords .kw-cont .key-blue { color: #09f; }
.sbar-keywords .kw-cont { font: normal 14px/1.6 "\5FAE\8F6F\96C5\9ED1"; padding: 20px; }
.sbar-keywords .kw-cont p { line-height: 1.6; }
.sbar-keywords .kw-cont p a { font: normal 14px/1.6 "\5FAE\8F6F\96C5\9ED1"; margin-right: 15px; color: #fff; }
/*  品牌推荐  */
.sbar-brandsRec .br-cont { padding: 30px 20px 0px; }
.sbar-brandsRec .br-cont .ul-wrap { width: 270px; overflow: hidden; }
.sbar-brandsRec .br-cont ul { width: 290px; }
.sbar-brandsRec .br-cont li { float: left; width: 125px; margin: 0 20px 20px 0; }
.sbar-brandsRec .br-cont li .pic { width: 125px; height: 50px; overflow: hidden; }
.sbar-brandsRec .br-cont li .pic img { width: 125px; }
.sbar-brandsRec .br-cont li .text { width: 125px; text-align: center; line-height: 18px; margin-top: 8px; }
/*  时尚&设计师咨询  */
.sbar-consult .cs-cont { padding: 20px 25px 25px; }
.sbar-consult .cs-cont p { line-height: 1.6; margin-top: 5px; }
.sbar-consult .cs-cont p a { color: #ccc; }
/*  同品牌推荐新单品  */
.sbar-tpptj .tpptj-cont .pic img { display: block; width: 108px; height: 108px; }
/*  热门设计师  */
.sbar-hotDsn .hotDsn-cont { padding-bottom: 50px; }
/*  === 侧边栏 - 个人中心 ===  */
.m-sbar-center { position: relative; width: 310px; height: 110px; background-color: #000; z-index: 99 }
.m-sbar-center .pic-head { position: absolute; left: 10px; top: 15px; z-index: 99; }
.m-sbar-center .pic-head a { display: block; width: 70px; height: 70px; overflow: hidden; border: 3px solid #fff; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; }
.m-sbar-center .nav-center { position: absolute; left: 95px; top: 0px; z-index: 99; }
.m-sbar-center .nav-center ul { width: 220px; }
.m-sbar-center .nav-center li { float: left; margin-right: 10px; }
.m-sbar-center .info { position: absolute; left: 100px; bottom: 15px; width: 195px; color: #ab955d; z-index: 99; }
.m-sbar-center .info .span-name { display: block; width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.m-sbar-center .info a.btn-text { position: absolute; right: 0; top: 0; color: #ab955d; }
.m-sbar-center-bg { position: absolute; left: 0px; top: 0px; width: 310px; height: 8px; background: #3d3d3d url(../images/bg-repeat-sbar-pcenter.png) repeat 0 0; z-index: 98; }
/*  === 页尾展示 - m-fshow ===  */
.m-fshow { width: 980px; padding-bottom: 20px; margin: 10px auto 10px; }
/*  入驻品牌  */
.m-fshow .brands table { width: 980px; }
.m-fshow .brands td { border-bottom: 1px solid #c4c4c4; padding: 2px 0; }
.m-fshow .brands td a { display: block; width: 160px; height: 50px; overflow: hidden; text-align: center; border-right: 1px solid #c4c4c4; margin: 0 auto; }
/* reset */
.m-fshow .brands tr:last-child td { border-bottom: 0; }
.m-fshow .brands tr td:last-child a { border-right: 0; }
/*  入驻品牌  */
.m-fshow-other { margin-top: 20px; }
.m-fshow-other .media { float: left; width: 650px; }
.m-fshow-other .media table { width: 630px; margin: 10px auto 0; }
.m-fshow-other .media td { padding: 20px 5px; }
.m-fshow-other .media td a { display: block; width: 200px; height: 60px; overflow: hidden; text-align: center; }
/*  联系我们  */
.m-fshow-other .contact { float: right; width: 290px; }
.m-fshow-other .contact-main { font: normal 14px/18px "\5FAE\8F6F\96C5\9ED1"; color: #6d6d6d; margin-top: 20px; }
.m-fshow-other .contact .contact-item { margin: 15px 0 0 10px; }
.m-fshow-other .contact .contact-item h4 { color: #444; font-weight: bold; margin-top: 10px; }
.m-fshow-other .contact .contact-item li { margin-top: 5px; }
.m-fshow-other .contact .contact-item li .icon { margin-right: 8px; }
.m-fshow-other .contact .contact-item li span { display: inline-block; vertical-align: middle; }
/*  === 页尾 #foot ===  */
.footer { width : 980px; font: normal 12px/2 "\5FAE\8F6F\96C5\9ED1"; text-align : center; margin: 5px auto 0; padding: 20px 0 20px; border-top: 1px solid #c4c4c4; color: #666; }
.footer a { color: #666 }
.footer span { font-family: Arial; }
/*  === 其他 ===  */
.m-line-h2 { position: absolute; bottom: -2px; left: 0; width: 100%; height: 1px; background-color: #fff; border-bottom: 1px solid #000; z-index: 8; }
/*! 名称：Page
    用途：各个页面
======================================== */
/*  === 首页 - index.php ===  */
.occur-idx .occur-wrap { font: normal 12px/18px "\5FAE\8F6F\96C5\9ED1"; }
/*  碎片模块  */
.fm-box { zoom: 1; }
.fm-box:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.fm-box { margin-top: 30px; }
.fm-box .fm-news, .fm-box .fm-spotlight, .fm-runway { float: left; width: 640px; }
.fm-box .fm-video, .fm-box .fm-celeb, .fm-pick { float: right; width: 300px; }
.fm-box .fm-news .ul-wrap { width: 640px; overflow: hidden; }
.fm-box .fm-news ul { width: 680px; }
.fm-box .fm-news li { float: left; width: 298px; height: 100px; border: 1px solid #C4C4C4; margin: 0 40px 10px 0; }
.fm-box .fm-news li .pic { float: left; width: 134px; height: 100px; overflow: hidden; }
.fm-box .fm-news li .text { float: right; width: 154px; }
.fm-box .fm-news li .text h4 { font-weight: bold; font-size: 14px; margin: 5px auto; }
.fm-box .fm-news li .text p { line-height: 1.3; color: #666; }
.fm-box .fm-news li .text p .link-text { color: #404040; }
.fm-box .fm-news li .text p .link-text:hover { color: #dfa41b; }
.fm-box .fm-video .fm-video-player { width: 300px; height: 210px; overflow: hidden; }
.fm-box .fm-runway .ul-wrap { width: 640px; overflow: hidden; }
.fm-box .fm-runway ul { width: 660px; }
.fm-box .fm-runway li { position: relative; float: left; width: 145px; height: 280px; margin: 0 20px 0px 0; z-index: 99; }
.fm-box .fm-runway li .pic { float: left; width: 145px; height: 280px; overflow: hidden; }
.fm-box .fm-runway li .tip-bar { position: absolute; left: 0; bottom: 0; width: 145px; font: normal 14px/18px "\5FAE\8F6F\96C5\9ED1"; text-align: center; color: #fff; background: url(../images/bg_repeat_black_50.png) repeat 0 0; padding: 3px 0; }
.fm-box .fm-pick-cont .pic { width: 300px; height: 280px; overflow: hidden; }
/*  首页其他模块  */
.idx-box { zoom: 1; }
.idx-box:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.idx-box { margin-top: 30px; }
.idx-box .idx-hot { float: left; width: 640px; }
.idx-box .idx-hot .ul-wrap { width: 640px; overflow: hidden; }
.idx-box .idx-hot ul { width: 660px; }
.idx-box .idx-hot li { float: left; width: 200px; margin: 0 20px 10px 0; }
.idx-box .idx-hot li .pic { position: relative; z-index: 9; }
.idx-box .idx-hot li .pic a { display: block; width: 198px; height: 198px; overflow: hidden; border: 1px solid #fff; }
.idx-box .idx-hot li .pic a:hover { border: 1px solid #C4C4C4; }
.idx-box .idx-hot li .pic a img { display: block; width: 198px; height: 198px; }
.idx-box .idx-hot li .pic .tag { position: absolute; left: 1px; bottom: 1px; display: inline-block; font: normal 18px/28px Arial, "\5FAE\8F6F\96C5\9ED1"; color: #fff; background: url(../images/bg_repeat_black_30.png) repeat 0 0; padding: 0 9px; z-index: 99; }
.idx-box .idx-hot li .text { font: normal 12px/18px "Tahoma", Arial, "\5FAE\8F6F\96C5\9ED1"; color: #666; text-align: center; margin-top: 5px; }
.idx-box .idx-hot li .text h4 a { font-size: 14px; color: #404040; font-weight: bold; }
.idx-box .idx-hot li .text h4, .idx-box .idx-hot li .text .p-model { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.idx-box .idx-designers { float: right; width: 300px; }
.idx-box .idx-designers .ul-wrap { width: 280px; overflow: hidden; margin: 0 auto; }
.idx-box .idx-designers ul { width: 320px; }
.idx-box .idx-designers li { float: left; width: 120px; margin: 0 40px 25px 0; }
.idx-box .idx-designers li .pic a { display: block; width: 118px; height: 118px; overflow: hidden; border: 1px solid #fff; }
.idx-box .idx-designers li .pic a:hover { border: 1px solid #C4C4C4; }
.idx-box .idx-designers li .pic a img { display: block; width: 118px; height: 118px; }
.idx-box .idx-designers li .text { font: normal 12px/18px "Tahoma", Arial, "\5FAE\8F6F\96C5\9ED1"; color: #666; text-align: center; margin-top: 5px; }
.idx-box .idx-designers li .text h4 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.idx-box .idx-designers li .text h4 a { font-size: 14px; color: #404040; font-weight: bold; }
.idx-box .idx-shopping { width: 980px; }
.idx-box .idx-shopping .ul-wrap { width: 980px; overflow: hidden; }
.idx-box .idx-shopping ul { width: 1000px; }
.idx-box .idx-shopping li { float: left; width: 228px; border: 1px solid #fff; padding: 5px 5px 15px; margin: 0 6px 20px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.idx-box .idx-shopping .li-hover { border: 1px solid #C4C4C4; }
.idx-box .idx-shopping li .pic a { display: block; width: 228px; height: 228px; overflow: hidden; }
.idx-box .idx-shopping li .pic a img { display: block; width: 228px; height: 228px; }
.idx-box .idx-shopping li .text { font: normal 14px/18px "Tahoma", Arial, "\5FAE\8F6F\96C5\9ED1"; color: #666; text-align: center; margin-top: 5px; }
.idx-box .idx-shopping li .text h4 { height: 42px; line-height: 1.5; overflow: hidden; }
.idx-box .idx-shopping li .text h4 a { font-size: 14px; color: #404040; font-weight: bold; }
.idx-box .idx-shopping li .text h4 a span.zh { display: block; }
d .idx-box .idx-shopping li .text h4, .idx-box .idx-shopping li .text .p-price { font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.idx-box .idx-shopping li .text .p-price { margin-top: 3px; }
/*  === 单品列表页 - list-prd.php ===  */
.list-prd .m-pagination { margin: 20px 0; }
.list-prd { float: left; width: 650px; margin-top: 0; }
.list-prd .filter-box { width: 648px; }
.list-prd .filter-box span.active { position: relative; color: #fff; background: #997d37; z-index: 9; }
.list-prd .filter-box span.active .icon-close { position: absolute; right: 2px; top: 2px; z-index: 99; }
.list-prd .filter-condition { border: 1px solid #ccc; padding: 15px 10px 20px; }
.list-prd .filter-condition span { display: inline-block; line-height: 18px; padding: 4px 18px 3px; }
.list-prd .filter-total { border: 1px solid #ccc; border-top: 0; padding: 15px 20px 10px; }
.list-prd .filter-total th, .list-prd .filter-total td { text-align: left; vertical-align: top; padding: 5px 0; }
.list-prd .filter-total td p { position: relative; z-index: 9; }
.list-prd .filter-total td p .btn-filter { position: absolute; right: -11px; top: -1px; }
.list-prd .filter-total td p span { display: inline-block; line-height: 16px; padding: 0 6px 2px; cursor: pointer; }
.list-prd .filter-bar { height: 24px; line-height: 24px; background: #fff url(../images/bg-repeat-filter.png) repeat 0 0; padding: 5px 10px 7px; }
.list-prd .filter-bar .text { float: left; }
.list-prd .filter-bar .btn-bar { float: right; }
.list-prd .filter-bar .btn-bar .select { margin-right: 8px; }
.list-prd .filter-bar .btn-bar .icon { margin: 0 3px; }
.list-prd .filter-bar .btn-bar a.active .icon-viewList { background-position: -70px -201px; }
.list-prd .filter-bar .btn-bar a.active .icon-viewPic { background-position: -34px -201px; }
/*  === 设计师列表页 - list-dsn.php ===  */
.list-dsn { float: left; width: 650px; font: normal 12px/18px "\5b8b\4f53"; margin-top: 0; }
.list-dsn .search-simple { background-color: #f0f0f0; padding: 10px 0; }
.list-dsn .search-simple .search-box { position: relative; width: 372px; margin: 0 auto; z-index: 9; }
.list-dsn .search-simple .search-box input { width: 340px; height: 18px; font: normal 12px/18px "\5FAE\8F6F\96C5\9ED1", Arial; color: #404040; background-color: #fff; border: 1px solid #C4C4C4; padding: 3px 25px 3px 5px; }
.list-dsn .search-simple .search-box .search-btn { position: absolute; right: 6px; top: 3px; display: block; width: 20px; height: 20px; background-color: #fff; border: 0; padding: 0; margin: 0; }
.list-dsn .designer { color: #404040; }
.list-dsn .designer .ul-wrap { width: 650px; overflow: hidden; }
.list-dsn .designer ul { width: 700px; }
.list-dsn .designer li { position: relative; float: left; width: 268px; border: 1px solid #ccc; padding: 0 15px 20px; margin: 50px 50px 0 0; z-index: 9; }
.list-dsn .designer li .pic { position: absolute; left: -1px; top: -32px; display: block; width: 150px; height: 150px; border: 1px solid #ccc; z-index: 99; }
.list-dsn .designer li .pic img { width: 150px; }
.list-dsn .designer li .text p { line-height: 1.6; }
.list-dsn .designer li h4 { margin-top: 130px; }
.list-dsn .designer li h4 a { font: bold 14px/20px "\5b8b\4f53"; color: #404040; }
.list-dsn .designer li .p-brand, .list-dsn .designer li .p-area { margin-top: 5px; }
.list-dsn .designer li .award { margin-top: 10px; }
.list-dsn .designer li .btn-bar { text-align: center; margin-top: 20px; }
/*  === 单品详情页 - detail-prd.php ===  */
.detail { float: left; width: 650px; font: normal 12px/18px "\5b8b\4f53"; margin-top: 0; }
.detail-prd { }
.detail-prd .pic { float: left; width: 300px; height: 300px; overflow: hidden; border: 1px solid #ccc; }
.detail-prd .pic img { display: block; width: 300px; height: 300px; }
.detail-prd .info { float: right; width: 348px; }
.detail-prd .info .h4 { position: relative; font: normal 14px/22px "\5FAE\8F6F\96C5\9ED1"; color: #fff; background-color: #000; padding: 9px 10px; margin-left: 9px; z-index: 9; }
.detail-prd .info .h4 .icon-h4-decorate { position: absolute; left: -17px; top: 0; z-index: 99; }
.detail-prd .info .describe { position: relative; margin: 20px 20px 0 25px; z-index: 9; }
.detail-prd .info .describe .designer { position: absolute; left: 0; top: 0; z-index: 99; }
.detail-prd .info .describe .designer .dsn-pic { width: 92px; height: 92px; overflow: hidden; border: 1px solid #ccc; }
.detail-prd .info .describe .designer .dsn-pic img { display: block; width: 92px; height: 92px; }
.detail-prd .info .describe .designer .dsn-name { text-align: center; margin-top: 5px; }
.detail-prd .info .describe .text { margin-left: 125px; }
.detail-prd .info .describe .text li { height: 18px; line-height: 18px; background: url(../images/bg_icons.png) no-repeat -222px -197px; padding: 0 0 0 20px; margin-bottom: 5px; }
.detail-prd .info .describe .text .li-popup { position: relative; z-index: 9; }
.detail-prd .info .describe .text .li-popup-p { position: absolute; left: -137px; top: 29px; display: block; width: 298px; line-height: 1.6; text-indent: 2em; background-color: #fff; border: 1px solid #dedede; padding: 10px 15px; z-index: 99; max-height: 72px; }
.detail-prd .info .describe .text .li-popup-p .icon-p-decorate { position: absolute; left: 165px; top: -10px; z-index: 99; }
.detail-prd .btn-bar { clear: both; padding-top: 10px; }
.detail-prd .btn-bar .bg-decorate { height: 7px; background: url("../images/bg-repeat-filter.png") repeat scroll 0 0 #FFFFFF; }
.detail-prd .btn-bar-in { padding: 10px 0; }
.detail-prd .btn-bar-in .btns, .detail-prd .btn-bar-in .link { float: left; }
.detail-prd .btn-bar-in .share { float: right; }
.detail-prd .btn-bar-in .btns .sbtn-buy { margin-right: 5px; }
.detail-prd .btn-bar-in .link { height: 18px; line-height: 18px; margin-left: 20px; }
.detail-prd .btn-bar-in .link a { color: #6a6a6a; margin: 0 5px; }
.detail-prd .btn-bar-in .link .icon { margin-right: 2px; }
.detail-prd .btn-bar-in .link span { display: inline-block; vertical-align: middle; }
.detail-prd .btn-bar-in .share span { display: inline-block; vertical-align: top; color: #666; }
.detail-prd .btn-bar-in .share a { display: inline-block; vertical-align: middle; }
.detail-prd .btn-bar-in .share .icon-share { margin: 0 3px; }
.celeb-show { margin-top: 10px; }
.celeb-show h4 { font: normal 16px/24px "\5FAE\8F6F\96C5\9ED1"; color: #777; margin: 20px 0 10px; }
.celeb-show .ul-wrap { width: 650px; overflow: hidden; }
.celeb-show ul { width: 660px; }
.celeb-show li { float: left; margin-right: 10px; }
.celeb-show li .pic { overflow: hidden; margin-bottom: 10px; }
.celeb-show .column-a { width: 240px; }
.celeb-show .column-a .pic a { display: block; width: 238px; border: 1px solid #fff; }
.celeb-show .column-a .pic a:hover { border-color: #999; }
.celeb-show .column-a .pic img { display: block; width: 238px; }
.celeb-show .column-b { width: 150px; }
.celeb-show .column-b .pic a { display: block; width: 148px; border: 1px solid #fff; }
.celeb-show .column-b .pic a:hover { border-color: #999; }
.celeb-show .column-b .pic img { display: block; width: 148px; }
.celeb-show .column-c .pic a { display: block; width: 238px; border: 1px solid #fff; }
.celeb-show .column-c .pic a:hover { border-color: #999; }
.celeb-show .column-c .pic img { display: block; width: 238px; }
.editor-show .column-2 { margin-top: 20px; }
.editor-show .column-a { float: left; width: 236px; }
.editor-show .column-b { position: relative; float: right; width: 390px; height: 363px; z-index: 9; }
.editor-show .column-b .text-intro { font: normal 14px/1.6 "\5FAE\8F6F\96C5\9ED1"; color: #666; text-indent: 2em; overflow: hidden; max-height: 202px; }
.editor-show .column-b .pic-intro { position: absolute; left: 0; bottom: 0; z-index: 99; }
.editor-show .column-b .pic-intro .ul-wrap { width: 390px; overflow: hidden; }
.editor-show .column-b .pic-intro ul { width: 405px; }
.editor-show .column-b .pic-intro li { float: left; width: 120px; margin-right: 15px; }
.editor-show .column-b .pic-intro li .pic a { display: block; width: 118px; height: 118px; overflow: hidden; border: 1px solid #fff; }
.editor-show .column-b .pic-intro li .pic a:hover { border-color: #999; }
.editor-show .column-b .pic-intro li .pic img { display: block; width: 118px; height: 118px; }
.prd-other { margin-top: 20px; }
.prd-other .prd-simple { margin-top: 20px; }
.prd-guess .prd-guess-title { background: url(../images/bg-repeat-filter.png) repeat 0 0; padding: 5px 0 3px; *margin-top: 20px;
}
.prd-guess .prd-guess-title h3 { border-bottom: 1px solid #EEEEEE; color: #666666; font: 24px/30px "\5FAE\8F6F\96C5\9ED1"; padding: 0 25px 5px 10px; }
.prd-guess .prd-simple { margin-top: 20px; }
/*  === 设计师详情页 - detail-dsn.php ===  */
/*  设计师介绍  */
.detail-dsn .pic { float: left; width: 300px; height: 300px; overflow: hidden; border: 1px solid #ccc; }
.detail-dsn .pic img { display: block; width: 300px; height: 300px; }
.detail-dsn .info { float: right; width: 348px; height: 302px; background-color: #000; }
.detail-dsn .info .h4 { position: relative; font: normal 36px/44px "\5FAE\8F6F\96C5\9ED1"; color: #fff; padding: 9px 25px 0 30px; margin-top: 15px; z-index: 9; }
.detail-dsn .info .h4 .icon-h4-decorate { position: absolute; left: 0px; top: 0; background-position: -213px -72px; z-index: 99; }
.detail-dsn .info .describe { margin: 20px 25px 0 30px; }
.detail-dsn .info .describe .text { }
.detail-dsn .info .describe .text li { font: normal 14px/20px "\5FAE\8F6F\96C5\9ED1"; color: #fff; margin-bottom: 3px; }
.detail-dsn .info .describe .text .li-intro strong { font-weight: normal; }
.detail-dsn .info .describe .text .li-intro p { text-indent: 2em; line-height: 1.6; margin-top: 5px; }
.detail-dsn .btn-bar { clear: both; padding-top: 10px; }
.detail-dsn .btn-bar .bg-decorate { height: 7px; background: url("../images/bg-repeat-filter.png") repeat scroll 0 0 #FFFFFF; }
.detail-dsn .btn-bar-in { padding: 10px 0; }
.detail-dsn .btn-bar-in .focus { float: right; }
.detail-dsn .btn-bar-in .focus .btn { margin-right: 5px; }
.detail-dsn .btn-bar-in .focus .focus-num { display: inline-block; vertical-align: middle; }
.detail-dsn .btn-bar-in .btns .sbtn-buy { margin-right: 5px; }
/*  个人简历  */
.dsn-resume { margin: 10px auto 20px; }
.dsn-resume .m-title-detail { margin-bottom: 15px; }
.dsn-resume .dsn-resume-cont p { font: normal 12px/1.8 "\5b8b\4f53"; color: #666; text-indent: 2em; margin-top: 5px; }
/*  个人作品  */
.dsn-opus { margin: 10px auto 0px; }
.dsn-opus .m-title-detail { margin-bottom: 15px; }
/*  相关资讯  */
.dsn-information { margin: 10px auto 30px; }
.dsn-information p { line-height: 1.8; }
.dsn-information a { font-size: 14px; color: #666; }
.dsn-information .m-title-detail { margin-bottom: 15px; }
.dsn-information .dsn-information-cont .pull-l, .dsn-information .dsn-information-cont .pull-r { width: 300px; }
.dsn-information .dsn-information-cont li p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
/*  === 个人中心 - pCenter.php ===  */
/*  Form module  */
.input-label span { display: inline-block; height: 18px; line-height: 18px; vertical-align: middle; text-align: right; _vertical-align: baseline; }
.input { display: inline-block; height: 18px; vertical-align: middle; font: normal 12px/16px "\5b8b\4f53"; padding: 5px 5px; height: 16px\9; }
.input-file { display: inline-block; vertical-align: middle; font-size: 12px; }
.input::-moz-placeholder, .textarea::-moz-placeholder {
color:#999;
}
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
color:#999;
}
.select-label span { display: inline-block; height: 18px; line-height: 18px; vertical-align: middle; text-align: right; _vertical-align: baseline; }
.select { display: inline-block; height: 24px; vertical-align: middle; font-size: 12px; padding: 3px 2px 3px; *height:auto;
}
.select-f14 { font-size: 14px; height: 26px; }
.textarea-label span { display: inline-block; height: 18px; line-height: 18px; vertical-align: top; text-align: right; padding-top: 4px; }
.textarea { display: inline-block; vertical-align: middle; font: normal 12px/1.5 "\5b8b\4f53"; overflow: auto; padding: 2px 5px; }
.checkbox-label span, .checkbox-radio span { position: relative; display: inline-block; height: 14px; line-height: 14px; vertical-align: text-top; text-align: right; _top: 1px; }
.checkbox, .radio { display: inline-block; width: 13px; height: 13px; line-height: 13px; vertical-align: text-top; padding: 0; margin: 0; }
.pCenter { float: right; width: 800px; font: normal 12px/18px "\5b8b\4f53"; }
/*  侧边导航  */
.pSidebar { position: relative; float: left; width: 180px; min-height: 900px; z-index: 8; }
.pSidebar .m-sbar-center { width: 180px; }
.pSidebar .m-sbar-center .info { position: absolute; left: 40px; top: 140px; width: 125px; z-index: 99; }
.pSidebar .m-sbar-center .info .span-name { width: 95px; }
.pSidebar .m-sbar-center .pic-head { position: static; padding: 50px 0 0 60px; }
.pSidebar .m-sbar-center .nav-center { position: static; margin: 70px 0 0 40px; }
.pSidebar .m-sbar-center .nav-center ul { width: 140px; }
.pSidebar .m-sbar-center .nav-center li { float: none; vertical-align: middle; margin: 0 0 15px 0; }
.pSidebar .m-sbar-center .nav-center li a { display: block; width: 120px; }
.pSidebar .m-sbar-center .nav-center li a.active { width: 140px; }
.pSidebar .m-sbar-center .nav-center li a img { display: block; }
.pSidebar .m-sbar-center .nav-center .li-a a { background-color: #00CCAC; }
.pSidebar .m-sbar-center .nav-center .li-b a { background-color: #FF6600; }
.pSidebar .m-sbar-center .nav-center .li-c a { background-color: #0099FF; }
.pSidebar .m-sbar-center-bg { width: 180px; }
/*  修改资料  */
.pCenter-modify form { color: #666; }
.pCenter-modify form table { margin: 75px 0 0 40px; }
.pCenter-modify form td { padding: 12px 35px; }
.pCenter-modify .pic-head { position: relative; width: 190px; height: 190px; background-color: #fff; border: 1px solid #dadada; padding: 5px; margin-left: 65px; z-index: 9; }
.pCenter-modify .pic-head img { display: block; width: 190px; }
.pCenter-modify .pic-head .input-file-wrap { position: absolute; left: 5px; bottom: 5px; width: 190px; height: 20px; line-height: 20px; text-align: center; color: #fff; background: url(../images/bg_repeat_black_50.png) repeat 0 0; padding: 4px 0; z-index: 99; }
.pCenter-modify .pic-head .input-file-wrap input { display: none; }
/*  reset  */
.pCenter-modify form .input-label span { width: 60px; }
.pCenter-modify form .btn-cyan { height: 40px; font: normal 20px/30px '\5FAE\8F6F\96C5\9ED1'; border: 0; padding: 0 58px; *padding: 0 30px;
*margin-left:5px;
}
/*  我的衣橱  */
.pCenter-myArmoire .products { margin: 40px 0 0 70px; }
.pCenter-myArmoire .m-pagination { width: 650px; margin-left: 70px; }
/*  我的关注  */
.pCenter-myFocus .pList-dsn { width: 720px; margin: 85px 0 0 65px; }
.pCenter-myFocus .pList-dsn .li-item { border: 1px solid #ccc; padding: 10px 0 20px; margin-bottom: 50px; }
.pCenter-myFocus .pList-dsn .col-a { position: relative; float: left; float: left; width: 210px; color: #404040; padding: 0 15px; margin: 0; z-index: 9; }
.pCenter-myFocus .pList-dsn .col-a .pic { position: absolute; left: -1px; top: -42px; display: block; width: 150px; height: 150px; border: 1px solid #ccc; z-index: 99; }
.pCenter-myFocus .pList-dsn .col-a .pic img { width: 150px; }
.pCenter-myFocus .pList-dsn .col-a .text p { line-height: 1.5; }
.pCenter-myFocus .pList-dsn .col-a h4 { margin-top: 120px; }
.pCenter-myFocus .pList-dsn .col-a h4 a { font: bold 14px/20px "\5b8b\4f53"; color: #404040; }
.pCenter-myFocus .pList-dsn .col-a .p-brand, .pCenter-myFocus .pList-dsn .col-a .p-area { margin-top: 2px; }
.pCenter-myFocus .pList-dsn .col-a .award { margin-top: 5px; }
.pCenter-myFocus .pList-dsn .col-b { float: right; width: 425px; }
.pCenter-myFocus .pList-dsn .col-b .prd-thumb .ul-wrap { width: 425px; }
.pCenter-myFocus .pList-dsn .col-b .prd-thumb ul { width: 446px; }
.pCenter-myFocus .pList-dsn .col-b .prd-thumb li { margin: 0 21px 0 0; }
.pCenter-myFocus .pList-dsn .col-b .prd-thumb .text { margin-top: 10px; }
.pCenter-myFocus .m-pagination { margin: -20px 0 30px }
/*! 名称：Temp
    用途：临时用
======================================== */
.m-titles { margin-top: 30px; }
