/*   beauty  */
::selection {
	background: #969;
	color: #fff;
	text-shadow: none;
}

*::-moz-selection {
	background: #969;
	color: #fff;
	text-shadow: none;
}

.input::-moz-placeholder, .textarea::-moz-placeholder {
	color: #999;
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
	color: #999;
}