.w110 {
	width: 110px;
}

.w125 {
	width: 125px;
}

.w198 {
	width: 198px;
}

.h300 {
	height: 300px;
}

.mr-6 {
	margin-right: 6px;
}

.pull-l {
	float: left;
	display: inline-block;
}

.hide {
	display: none;
}

.txL {
	text-align: left;
}

.txR {
	text-align: right;
}

.txC {
	text-align: center;
}