@import '../../lib/bootstrap/dist/css/bootstrap.css'

@import 'reset.styl'
@import 'common.styl'
@import 'beauty.styl'


.xx_wrap
	margin 0 auto
	width 960px
	color #404040
	font 12px / 18px "\5b8b\4f53"
	position relative

	a
		text-decoration none
	a:hover
		text-decoration none