.navbar
  background-color: #333
  border-bottom: 1px solid #101010
  padding: 10px 0
  h1
    color: #fff
    font-size: 16px
    margin-left: 20px

.nav-left
  float: left
  color: #fff
  font-size: 14px
  height: 500px
  background-color: #333
  padding: 20px
  margin-top: 50px
  li
    margin: 10px 0px
    a
      display: block
      color: #fff
      transition : background 0.5s ease
    a:hover
      background-color: #52b9e9
  li.current
    a
      background-color: #52b9e9



.main-content
  float: left
  margin: 50px 0 0 20px

// 其他
.dissolve-animation
  position: fixed
  left: 0px
  top: 0
  display: block
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 999
  opacity: 0
  transition: 2s linear all
  .page-splash
    position: absolute
    left: 0
    top: 50%
    width: 100%
    color: #fff
    text-align: center
    z-index: 99

.active
  opacity: 1