<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运维监控－首页</title>
    <% include ./inc/meta.ejs %>
    <link rel="stylesheet" href="./resources/css/index.css" >
</head>
<body>
    <article class="container ">
        111
    </article>
    <% include ./inc/script.ejs %>
</body>
</html>