<footer class="m-footer">
	<div class="container-fluid">
		<section class="hotlink">
			<a href="#">阿里云竞品Wiki</a>
			<span class="span-separate">|</span>
			<a href="#">竞争沙盘</a>
			<span class="span-separate">|</span>
			<a href="#">竞品性能平台</a>
			<span class="span-separate">|</span>
			<a href="#">产品命名</a>
			<span class="span-separate">|</span>
			<a href="#">产品运营</a>
		</section>
		<section class="copyright">
			<p>&copy; 2009-{{ 2016 }} aliyun.com, all rights reserved 阿里云产品应用技术部</p>
		</section>
	</div>
</footer>


<!--[if lt IE 10]>
<div class="browsehappy-wrap">
	<div class="browsehappy">
		<p class="desc">浏览器版本<strong>过低</strong>，建议您对浏览器进行<a href="http://browsehappy.com/">升级</a>，以便获得更好的浏览体验。</p>
		<table width="500" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<i class="mark-broswer mark-broswer-uc"></i>
					<p>UC浏览器</p>
					<p><a class="download-btn" href="http://www.uc.cn/ucbrowser/download/">下载</a></p>
				</td>
				<td>
					<i class="mark-broswer mark-broswer-ff"></i>
					<p>Firefox</p>
					<p><a class="download-btn" href="http://www.firefox.com.cn/download/">下载</a></p>
				</td>
				<td>
					<i class="mark-broswer mark-broswer-cm"></i>
					<p>Chrome</p>
					<p><a class="download-btn"
						  href="http://www.google.cn/intl/zh-CN/chrome/browser/desktop/index.html">下载</a></p>
				</td>
			</tr>
		</table>
	</div>
</div>
<![endif]-->